.sidebarchat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 10px;
}
.sidebarchat:hover{
  background-color: #cccccc38;
}

.sidechatInfo {
    user-select: none;
    padding: 5px 0;
    width: 100%;
    cursor: pointer;
    margin-left: 5px;
}
.sidebarLink{
    all: unset;
    width: 100%;
}
.sidechatInfo h4 {
    font-weight: 600;
}

.sidechatInfo p {
    margin-top: 2px;
    font-size: 11px;
}

hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e75e;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 10px;
}

.sidechatSpan {
    border: 1px solid #bdbdbd66;
    border-radius: 100%;
    cursor: pointer;
}