.dp {
    display: none;
    position: absolute;
    top: 10vh;
    left: 10;
    z-index: 100;
    width: 20rem;
    height: 20rem;
}

.dpHeader {
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 2px 12px;
    border-bottom: 1px solid #e7e7e79f;
}

.crossIcon {
    color: white;
    cursor: pointer;
    padding: 5px 5px;
}

.dpImg {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.dpContainer h3 {
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  
}