.side {
    background-color: #f3f3f3;
    padding: 25px 8px;
}

.side,
.sideTop,
.sideBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Side Top */
.sideTop {}

.chatIcon,
.statusIcon,
.logoutIcon {
    margin: 10px 0px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.userIcon{
    margin: 10px 0px;
}
.userIcon {
    cursor: default;
}

.logoutIcon {
    cursor: pointer;
    border-radius: 20px;
    padding: 8px;
}

.logoutIcon:hover {
    background-color: #cccccc38;
}